.github
.husky
.idea
coverage
/node_modules
src
tests

.commitlintrc.json
.eslintrc.js
.gitignore
.versionrc.json
.yarnrc.yml
.yarnrc.yml.dist
docker-compose.yml
jest.config.ts
rollup.config.ts
tsconfig.json
yarn.lock

Makefile
